body {
  background-color: #EDC7B7;
}

h1 {
  color: #123C69;
}

img {
  height: 200px;
  width: 200px; 

}

/* Below are the classes */

.first {
  color: #AC3B61;
  font-family: 'Akaya Telivigala', cursive, sans-serif;
  font-size: 30px;
}

.second {
  color: #AC3B61;
  font-family: 'Akaya Telivigala', cursive, sans-serif;
  font-size: 20px;

}

.third {
  color: #AC3B61;
  font-family: 'Akaya Telivigala', cursive, sans-serif;
  font-size: 15px;
}
